body.edit{
  background-color: rgb(67,67,67);
  text-align: center;
  h2{
      text-align: center;
      margin-top: 8%;
      font-family: 'ヒラギノ角ゴ StdN W8','Hiragino Kaku Gothic StdN';
      color: white;
      font-weight: lighter;
      font-size: 5vh;
  }
  .field{
    text-align: center;
    font-size: 2em;
    color: white;
    font-family: "LingWai SC";
    margin: 4%;
    i{
      font-size: 0.2em;
    }
    label{
      border-bottom: solid 1px;
      font-size: 0.7em;
    }
    em{
      border-bottom: solid 1px;
      font-size: 0.5em;
    }
    input#user_username{
      font-family: "Hiragino Sans GB",'ヒラギノ角ゴ StdN W3','Hiragino Kaku Gothic StdN';
      font-size: 0.5em;
      width: 30vh;
      height: 30px;
      border:dashed rgb(250,226,50) 1px;
      background-color: rgb(67,67,67);
      color: white;
    }
    input#user_email{
      font-family: "Hiragino Sans GB",'ヒラギノ角ゴ StdN W3','Hiragino Kaku Gothic StdN';
      font-size: 0.5em;
      width: 35vh;
      height: 35px;
      border:dashed rgb(250,226,50) 1px;
      background-color: rgb(67,67,67);
      color: white;
    }
    input#user_password{
      font-family: "Hiragino Sans GB",'ヒラギノ角ゴ StdN W3','Hiragino Kaku Gothic StdN';
      font-size: 0.5em;
      width: 30vh;
      height: 35px;
      border:dashed rgb(250,226,50) 1px;
      background-color: rgb(67,67,67);
      color: white;
    }
    input#user_password_confirmation{
      font-family: "Hiragino Sans GB",'ヒラギノ角ゴ StdN W3','Hiragino Kaku Gothic StdN';
      font-size: 0.5em;
      width: 30vh;
      height: 35px;
      border:dashed rgb(250,226,50) 1px;
      background-color: rgb(67,67,67);
      color: white;
    }
    input#user_part{
      font-family: "Hiragino Sans GB",'ヒラギノ角ゴ StdN W3','Hiragino Kaku Gothic StdN';
      font-size: 0.5em;
      width: 30vh;
      height: 35px;
      border:dashed rgb(250,226,50) 1px;
      background-color: rgb(67,67,67);
      color: white;
    }
    input#user_current_password{
      font-family: "Hiragino Sans GB",'ヒラギノ角ゴ StdN W3','Hiragino Kaku Gothic StdN';
      font-size: 0.5em;
      width: 30vh;
      height: 35px;
      border:dashed rgb(250,226,50) 1px;
      background-color: rgb(67,67,67);
      color: white;
    }
  }
  .actions{
    margin: auto;
    width: 20vh;
    text-align: center;
  }
  a{
    text-align: center;
    color: white;
  }
  .square_btn{
    display: inline-block;
    margin: 2% 0%;
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;
    width: 20vh;
    color: white;
    font-family: 'ヒラギノ角ゴ StdN W8','Hiragino Kaku Gothic StdN';
    font-size: 1.0em;
    background-color: rgb(22, 231, 207);
    transition: .4s;
  }

  .square_btn:hover {
    background-color: white;
    color: rgb(67,67,67);
  }
}
