body.pblist{
  background-color: rgb(67, 67, 67);
  text-align: center;
  h1.Partscore{
    margin-top: 5%;
    font-family: "AvenirNext-Heavy", "Avenir Next";
    color: white;
    text-align: center;
    font-size: 7vh;
  }
  div.ptitle{
    margin: 5% 10%;
    width: 80%;
    display: flex;
    vertical-align: middle;
    text-align: left;
    border: 1px solid white;
    background-color: rgb(1, 113, 0);
    p{
      color: white;
      font-family: "AvenirNext-Heavy", "Avenir Next";
      font-size: 2.5vw;
      margin: 2%;
    }
    h3.artist{
      color: white;
      font-family: "Hiragino Sans GB",'ヒラギノ角ゴ StdN W3','Hiragino Kaku Gothic StdN';
      font-size: 2vw;
      margin: 3%;
    }
    h4.song{
      color: white;
      text-align: center;
      font-family: 'ヒラギノ角ゴ StdN W8','Hiragino Kaku Gothic StdN';
      margin-top: 3%;
      font-size: 2vw;
      margin-left: 10%;
    }
  }
  div.pchart{
    margin: 5% 0;
    padding: 0 10%;
    font-family: 'ヒラギノ角ゴ StdN W8','Hiragino Kaku Gothic StdN';
    font-size: 0.8em;
    width: 100%;
    div.detail{
      width: 100%;
      background-color: rgb(1, 113, 0);
      border: 1px solid white;
      p{
        color: white;
        text-align: left;
        text-decoration: underline dotted white;
        font-size: 2vh;
        margin: 2% 10%;
      }
    }
    table.pchart{
      border-collapse: collapse;
      border: 1px solid rgb(214,215,214);
      width: 100%;
      tr:nth-child(2n+1){
        background-color: rgba(116, 118, 118, 0.64);
        th,td{
          border: 1px solid white;
        }

      }

      tr{
        color: white;
        th{
          width: 35%;
          height: 80px;
          border: 1px solid rgb(214,215,214);
          font-family: "Hiragino Sans GB",'ヒラギノ角ゴ StdN W3','Hiragino Kaku Gothic StdN';
          font-weight: lighter;
          font-size: 1.5vh;
        }
        th:first-child,{
          background-color: rgb(29, 177, 0);
        }
        td{
          width: 65%;
          height: 80px;
          border: 1px solid rgb(214,215,214);
          font-family: "Hiragino Sans GB",'ヒラギノ角ゴ StdN W3','Hiragino Kaku Gothic StdN';
          font-size: 1.5vh;
          font-weight: lighter;
        }
      }
    }
  }
  .back_btn{
    display: inline-block;
    margin: 0.5% 20%;
    padding: 15px 30px;
    border-radius: 10px;
    text-decoration: none;
    width: 20vh;
    color: white;
    font-family: "Hiragino Sans GB",'ヒラギノ角ゴ StdN W3','Hiragino Kaku Gothic StdN';
    font-size: 1.5vh;
    background-color: rgb(0, 168, 157);
    transition: .4s;
  }
  .back_btn:hover {
    background-color: white;
    color: rgb(0, 168, 157);
  }
}
