body.score{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(67,67,67);
}
div{
  display: block;
}
.main{
  padding: 40px 0 40px;
  background-color: rgb(67,67,67);

  .head{
    width: 100%;
    left: 0;
    position: fixed;
    top: 5%;
    z-index: 99;
    margin-top:15%;


      p{
       position: absolute;
       color: white;
       font-size: 10vh;
       background-color: none;
       top: 0%;
       right: 30%;
       -ms-transform: translate(-50%,-50%);
       -webkit-transform: translate(-50%,-50%);
       margin-top: 30px;
       padding: 0;
       font-family: "Phosphate";
       vertical-align: middle;
     }

      .triangle {
        width: 0;
        height: 0px;
        border-top: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid rgb(22,231,207);
        margin-top: 19.5px;
        margin-left: 70px;
        float: right;
      }

      .square-btn {
          display: relative;
          padding: 0.5em 1.2em;
          margin-right: 15%;
          text-decoration: none;
          color: rgb(67,67,67);
          border: solid 1px white;
          transition: .4s;
          float: right;
          font-family: "LingWai SC";
          font-size: 1.5em;
          font-weight: lighter;
      }

      .square-btn:hover {
          background: rgb(22,231,207);
          color: white;
      }


  }

  #key-visual{
    background-image: url(/assets//main-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top:  80px;
    position: absolute;
    top: 0%;
    left: 0%;
    // background-color: rgb(67,67,67);

    .main-img{
      opacity: 1;
      display: block;
      width: 100%;
      position: relative;
      background-color: rgb(67,67,67);
    }
  }

  ul{
    position: absolute;
    width: 100%;
    top:60%;
    left: 0%;
    display: flex;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-end;
    flex-wrap: wrap;
    text-align: center;
    list-style: none;
    justify-content: space-between;
    margin:  auto;
    padding: 0 10% 0;
    li{
      height: 100%;
      float: center;
      .bandscore{
        width: 38vh;
        // padding: 0 10% 0;
      }
      .partscore{
        width: 38vh;
        // padding: 0 10% 0;
      }
      .dictation{
        width: 38vh;
        // padding: 0 10% 0;
      }
    }
  }
}
